.primary-nav {
    background-color: $color-primary-nav;
}

.nav {
    @include flex(center, space-between);

    .nav-icons,
    .mobile-search-icon {
        display: none;
    }

    .logo {
        @include flex(center, center);

        // min-width: 30%;
        img {
            // width: 4rem;
            height: 4rem;
        }

        span {
            color: $color-white;
            font-size: 4rem;
            text-transform: uppercase;
        }
    }

    .right-nav {
        @include flex(center, center);

        // background-color: red;
        .nav-search {
            display: flex;
            position: relative;
            flex: 1;
            max-width: 50rem;
            min-width: 20rem;

            .input-search {
                display: flex;

                input[type="text"] {
                    height: 3rem;
                    display: block;
                    max-width: 30rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                    padding: 1rem;
                    padding-left: 3rem;
                    margin: 1rem auto;
                    width: 100%;
                    border: 1px solid #777;
                    border-right: 0;
                    border-radius: 30px 0 0 30px;
                    background-color: $bg-color-search-bar;
                }

                .search-icon {
                    background-color: $bg-color-search-bar;
                    height: 3rem;
                    display: block;
                    // max-width: 30rem;
                    font-size: 2rem;
                    font-weight: 300;
                    padding: 1rem;
                    // padding-left: 3rem;
                    // margin: 1rem auto;
                    // width: 100%;
                    border: 1px solid #777;
                    // border-left: 0;
                    border-radius: 0 30px 30px 0;
                    align-self: center;
                    display: flex;
                    cursor: pointer;

                    &:hover {
                        color: $color-primary;
                        // text-decoration: underline;
                        // transform: translate(-2px, -3px);
                    }
                }
            }

        }

        .auth {
            margin-left: 2rem;
            display: flex;
        }
    }


}