@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
//importing utils partials
@import "utils/colors";
@import "utils/utils";
@import "utils/buttons";
@import "secondaryNav";
@import "headerSection";
@import "footer";
@import "menu";

// $bg-color-search-bar: #f6f6f6;
$font-family: "Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
    // border: 1px solid red;
}

html {
    font-size: 62.5%; //10px
}

body {
    font-family: $font-family;
    // background: #fff;
    font-size: 1.6rem;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}





@import "primaryNav";
@import "categoryList";

// @include("hero");
@import "headerSection";
@import "quizSection";
@import "mediaquery";