.--btn {
    font-size: 1.6rem;
    font-weight: 400;
    padding: 6px 8px;
    margin: 0 5px 0 0;
    border: 1px solid transparent;
    border-radius: 3px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s;
}

.--btn:hover {
    transform: translateY(-2px);
}

.--btn-primary {
    color: #fff;
    background: $color-primary;
}