$color-primary-nav: #272727;
$color-secondary-nav: #474747;
$color-main-menu: #B1B1B1;
$color-white: #fff;
$color-primary: #FF7E36;
$color-primary-seperator: #FF5E34;
$bg-color-search-bar: #EDEDED;
$bg-color-hero: #EDEDED;
$bg-color-hero-quiz: #FFCDA9;
$bg-color-section: #F4F4F4;
$color-title: #040454;
$bg-color-side-nav: #DCDCDC;
$color-sidebar-text: #69187D;
$bg-color-quiz-heading: #C6ADCF;
$color-black: #000;